@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page {
  padding: 0;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  margin: 0;
  align-items: center;
  width: auto;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  overflow: hidden;
}

.logo {
  padding: 0;
  margin: 0;
  height: 32px;
  width: 228px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}
.header__title {
  padding: 0;
  margin: 0;
  padding-left: 64px;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  z-index: 3;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

.header__link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  opacity: 0.5;
  transition-delay: 0.3s;
}
.header__main-illustration {
  padding: 0;
  margin: 0;
  height: 608px;
  width: 765px;
  position: absolute;
  object-fit: cover;
  z-index: 2;
  right: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
}

.header__square-pic {
  margin: 0;
  padding: 0;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 1;
  background-color: #2f80ed;
  animation: rotation 20s ease-in-out infinite;
}

.description {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}

.two-columns {
  margin: 0;
  padding: 0;
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 784px;
}

.two-columns__brief {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  margin: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  color: #000000;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.techniques {
  margin: 0;
  padding: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

.cards {
  margin: 0;
  padding: 0;
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.cards__item {
  margin: 0;
  padding: 0;
  margin-right: 100px;
  width: 240px;
}

.cards__image {
  margin: 0;
  padding: 0;
  height: 160px;
  width: 160px;
  margin: 60px 40px 43px 40px;
  border-radius: 80px;
}

.cards_title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.cards__description {
  margin: 0;
  padding: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.video {
  margin: 0;
  padding: 0;
  padding-top: 100px;
}

.video__iframes {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.video__iframe {
  padding: 0;
  margin: 0;
  height: 316px;
  width: 515px;
  margin-right: 20px;
}

.video__iframe:last-of-type {
  margin-right: 0;
}
/* тут надо доделать чтобы отступ залез на чужой блок */
.oakley {
  margin: 0;
  padding: 0;
  padding-top: 160px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}

.digits {
  margin: 0px;
  padding: 0;
  margin-top: 100px;
  color: #000000;
  margin-bottom: 100px;
}

.section-title {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.section-subtitle {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.table {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  margin: 0;
  padding: 0;
  width: 250px;
  margin-top: 60px;
  list-style: none;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  margin: 0;
  padding: 0;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  position: relative;
  z-index: 1;
  background-color: #f2f2f2;
}

.feynman__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  color: #000000;
  padding-top: 100px;
  box-sizing: border-box;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  color: #000000;
}

.feynman__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 2;
}

.feynman__link:hover {
  opacity: 0.5;
  transition-delay: 0.3s;
}

.kaufman {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f1f1f;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  z-index: 0;
}

.section-title_theme_dark {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  margin: 0;
  padding: 0;
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
  animation: rotation 20s ease-in-out infinite;
}

.footer {
  margin: 0;
  padding: 0;
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;
  background-repeat: no-repeat;
}

.footer__columns {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #f2f2f2;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  fill: #f2f2f2;
}

.footer__author {
  padding: 0;
  display: flex;
  margin: 18px 0;
  color: #f2f2f2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  align-items: center;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition-delay: 0.3s;
}

.footer__social-icon {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.footer__social-icon:hover {
  opacity: 0.5;
  transition-delay: 0.3s;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.Khan {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container {
  margin: 0;
  padding: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
.khan__title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  margin: 0;
  padding: 0;
  width: 790px;
  margin-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 0;
  padding: 0;
  margin-bottom: 68px;
  line-height: 1.15;
  width: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin: 0;
  padding: 0;
  display: flex;
}

.khan__book-pic {
  margin: 0;
  padding: 0;
  width: 620px;
  height: 608px;
  margin-right: 48px;
}

.khan__buy-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition-delay: 0.3s;
}

.resources {
  margin: 0;
  padding: 0;
  position: relative;
}

.resources__logo-zone {
  margin: 0;
  padding: 0;
  width: 1100px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 217px;
  display: flex;
  justify-content: center;
}

.resources__logo {
  margin: 0;
  padding: 0;
}

.resources__link {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 38px;
  z-index: 2;
}

.resources__link:hover {
  opacity: 0.5;
  transition-delay: 0.3s;
}
